* body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14px;
  background-color: #ffffff;
  padding: 0 10%;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
nav ul {
  font-family: "Rubik";
  font-weight: 200;
  display: contents;
  list-style-type: none;
}
/* Eric J Tolbert text */

h1 {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 1.875em;
  letter-spacing: .3em;
  line-height: 50px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.underline1 {
  border-bottom: 3px solid #999;
  width: 100%;
}
