h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  letter-spacing: .3em;
  text-align: center;
  justify-content: center;
}
body {
  max-width: 640px;
  line-height: 75px;
  margin: 0 auto;
}
.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}
.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}
button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 640px;
  max-height: 480px;
  background-color: rgba(0, 0, 0, 0);
}
